<div class="login-wrapper">
  <div class="login-card">
    <img src="assets/promed-logo.png" alt="ProMed Logo" class="logo" />
    <h2>Autentificare</h2>

    <form (ngSubmit)="onLogin()">
      <label>Email:</label>
      <input type="email"
             [(ngModel)]="email"
             name="email"                          
             (keydown.space)="$event.preventDefault()"
             (paste)="removeSpaces($event)"
             placeholder="Email"
             required />

      <label>Parolă:</label>
      <input type="password"
             [(ngModel)]="parola"
             name="parola"                       
             (keydown.space)="$event.preventDefault()"
             (paste)="removeSpaces($event)"
             placeholder="Parolă"
             required />

      <button type="submit">Login</button>
    </form>

    <p *ngIf="eroare" class="eroare">{{ eroare }}</p>
    <p class="signup-link">Nu ai cont? <a routerLink="/register">Înregistrează-te aici</a></p>
  </div>
</div>
